.navbar-nav .nav-item .nav-link {padding: 0 24px;}
.navbar-nav .nav-item a.book-appointment {position:absolute; right:16px; top:12px; padding:4px 8px; font-size: 14px; background-color: #fff; color: #333;}
.carousel {height: calc(100vh - 56px); overflow: hidden; background-color: #000;}
.carousel .carousel-inner {height: 100%;}
.carousel .carousel-inner img {height:80%; width:auto !important; position:absolute; right: 24px; bottom: 0px;}
.carousel .carousel-inner .carousel-item {height: 100% !important; background-image: url(../img/bg-img.png); background-repeat: no-repeat; background-size:contain;}
.carousel .carousel-inner .carousel-item::before {content: ''; position: absolute; width: 100%; height: 100%; background-color: #000; opacity:0.7;}
.carousel .carousel-inner h2 {color:darkseagreen; position: absolute; top:50%; left:38%; transform: translate(-50%, -50%); text-transform:uppercase;}
.about-section {background: #D0E8C5;}
.about-section img {width:500px; height: auto; border-radius:25% 0px 25% 0px;}
.services {background: #F3F3E0;}
.services .custom-container {display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); gap:20px; padding: 20px;}
.services .custom-container .box {position: relative; min-height: 350px; background: linear-gradient(45deg, #fe7275, #a73ab1); box-sizing: border-box; padding: 50px; transition: all .6s ease; overflow: hidden; margin: 20px; text-align: center; border-radius: 10px;}
.services .custom-container .box p {color: #fff; font-size: 16px;}
.services .custom-container .box h3 {font-size:24px; text-transform: uppercase; color: #fff; margin-top:16px;}
.services .custom-container .box .icons {width: 80px; height: 80px; background: #fff; margin: auto; border-radius: 50px;}
.services .custom-container .box .icons i {font-size: 35px; line-height: 80px;}
.services .custom-container .box:hover {background:linear-gradient(45deg, #b343cb, #180293);}
.services .custom-container .box::before, .services .custom-container .box::after {content: ''; position:absolute; width: 0; height: 0; border: 5px solid #fff; opacity: 0; transition: .5s; box-sizing: border-box;}
.services .custom-container .box::before {top:0; left: 0; border-top-left-radius: 10px;}
.services .custom-container .box::after {bottom:0; right: 0; border-bottom-right-radius: 10px;}
.services .custom-container .box:hover::before,.services .custom-container .box:hover::after {width: 100%; height: 100%; opacity: 1; transition-delay: .3s;}
.services .custom-container .box span {position:absolute; top:0; left: -110%; width: 100%; height: 100%; background:rgba(255,255,255,0.3); transition: .5s; transform: skewX(10deg);}
.services .custom-container .box:hover span {left: 110%;}
.services .custom-container .box button {padding:6px 10px; background-color: #fff; position: relative; z-index:9; transition: .5s; color: #333; border: none; font-size:12px; cursor: pointer; opacity: 0.8; text-transform: uppercase; margin-top:16px;}
.services .custom-container .box button:hover {opacity:1; background-color:#0d6efd; color:#fff; box-shadow: 2px 2px 0px #fff;}
.book-appointment {background-color:#ffbe90; color: #fff; padding:24px;}
.book-appointment .book-appointment-img {position: absolute; z-index:9; left:0px; height: 600px;}
.book-appointment .form-container {position: relative; left: 157px; top: 190px; padding:24px;}
.book-appointment .form-container h3.heading {position:absolute; top:-70px; left:50%; transform:translateX(-50%); text-shadow:3px 3px 0px #646464;}
.book-appointment .form-container form .row .col-sm-6 { margin-bottom:24px;}
footer {background-color:darkslateblue; color:#fff;}
.mr-b-0 {margin-bottom: 0px;} .fs14 {font-size:14px;} .fs16 {font-size: 16px;} .bg-darkcyan {background-color:darkcyan;}
.m-view-social-icons {display: none;}

@media(max-width:780px) {
    .carousel .carousel-inner img {width:100% !important; right: 0px;}
    .navbar-nav .nav-item a.book-appointment {position: relative; left: 16px; right: auto; margin-bottom: 20px;}
    .about-section img {width: 100%;} 
    .carousel .carousel-inner h2 {width: 100%; top:auto; bottom: 0px; left:0; text-align: center; background:rgba(0, 0, 0, 0.8); padding:18px; transform:translate(-0%, -50%);}
    .book-appointment .book-appointment-img {height: 380px;}
    .book-appointment {padding:8px;}
    .book-appointment .form-container {left:100px; top:120px;}
    .book-appointment .form-container h3.heading {white-space: nowrap; font-size: 18px; top:-40px;}
    .book-appointment .form-container form .row .col-sm-6 { margin-bottom:16px;}
    .services .custom-container .box {margin:0px;}
    .carousel .carousel-inner .carousel-item {background-size: cover;}
    .m-view-social-icons {display: flex; justify-content: center; position: fixed; bottom: 0px; left: 0px; width: 100%; background:dodgerblue; z-index:9;}
  .m-view-social-icons a {color: #fff; font-size:20px; display: inline-block; padding:8px 16px; text-decoration: none; text-align: center;}
  .m-view-social-icons a .icon-text {display:block; font-size:12px; padding-top:2px;}
  .m-view-social-icons a i.fa-solid.fa-phone {font-size:17px;}
  .m-view-hidden {display: none;}
}